bin
obj
dist
/node_modules
/coverage
npm_debug*.log
tests/__coverage__
.cache
yarn-error.log
junit.xml
playwright-report
test-results
e2e-results

# yarn v2 not using zero install
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store

.yalc/
yalc.lock

reports

.idea/
src/locales/locale.d.ts
src/locales/helpers.ts
# for now we are hardcoding translations
# src/locales/index.ts
